.main {
  padding: 0 20px;
  padding-top: 20px;
  min-height: 100dvh;
}

.main-background {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-background.good {
  background: linear-gradient(to bottom, #A9D18E 0%, #BEDCA9 24%, #FFFFFF 100%);
}

.main-background.caution {
  background: linear-gradient(to bottom, #F59859, #FFFFFF 100%);
}

.main-background.danger {
  background: linear-gradient(to bottom, #D2544A, #FFFFFF 100%);
}

.main-percentage-section {
  max-width: 262px;
  margin: auto;
  margin-bottom: 20px;
}

.main-percentage-section > p {
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
}

.main-percentage {
  font-weight: 700;
  font-size: 24px;
}

.main-status-section {
  margin: auto;
  margin-bottom: 20px;
}

.main-status-circle {
  max-width: 262px;
  aspect-ratio: 1;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.main-status-circle.good {
  background: radial-gradient(#FFFFFF 0%, #A9D18E 80%);
}

.main-status-circle.caution {
  background: radial-gradient(#FFFFFF 0%, #F59859 80%);
}

.main-status-circle.danger {
  background: radial-gradient(#FFFFFF 0%, #D2544A 80%);
}

.main-status {
  color: white;
  font-weight: 900;
  font-size: 50px;
  -webkit-text-stroke: 4px black;
  margin: 0;
}

.main-status-inner {
  color: white;
  font-weight: 900;
  font-size: 50px;
  margin: 0;
  -webkit-text-stroke: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-factor-wrapper {
  margin: auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  position: relative;
  margin-top: 46px;
  padding: 24px 0 13px 0;
  border-radius: 10px;
}

.main-factor-title {
  font-size: 16px;
  font-weight: 400;
  border: 2px solid white;
  padding: 5px 35px;
  color: white;
  position: absolute;
  top: 0;
  margin: 0;
  transform: translateY(-50%);
  border-radius: 10px;
}

.main-factor-title.good {
  background-color: #A9D18E;
}

.main-factor-title.caution {
  background-color: #F59859;
}

.main-factor-title.danger {
  background-color: #D2544A;
}

.main-factor-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.main-factor-item {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3px;
}

.main-column-container {
  max-width: 700px;
  margin: auto;
}

.main-column-container-title {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 400;
  overflow: hidden;
}