.myinfo {
  min-height: 100dvh;
  margin: 0 auto;
}

.myinfo-current-section {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.myinfo-current-section h1 {
  font-size: 25px;
  text-align: left;
}

.myinfo-nim {
  font-weight: lighter;
}

.myinfo-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
  font-size: 18px;
}

.myinfo-current-title {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  color: #7D7D7D;
}

.myinfo-date {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.myinfo-update {
  margin-left: auto;
  color: #0077B6;
  text-decoration: none;
  font-size: 16px;
}

.myinfo-table {
  width: 100%;
  background-color: #D3EBF9;
  border-radius: 10px;
  margin: auto;
  padding: 18px;
}

.myinfo-table th {
  font-weight: normal;
}

.myinfo-table td {
  font-weight: bolder;
  text-align: left;
}

.myinfo-divider {
  border: 0;
  height: 1px;
  background: #D7D7D7;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 700px;
}

.myinfo-history-section {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.myinfo-history-title {
  color: #7D7D7D;
  font-size: 18px;
  text-align: left;
}