.history-of-health {
  display: flex;
  align-items: center;
  text-align: left;
  margin: auto;
  margin-bottom: 17px;
}

.history-mark {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border-radius: 100%;
}

.history-mark.good {
  background-color: #A9D18E;
}

.history-mark.caution {
  background-color: #F59859;
}
.history-mark.danger {
  background-color: #D2544A;
}

.history-date {
  font-size: 16pt;
  margin: 5px;
}

.history-detail {
  font-size: 12pt;
  margin: 5px;
}